#explicit binary content (reduced diff).

*.exe         binary
*.dll         binary
*.res         binary

*.cmd         text      eol=crlf
*.txt         text      eol=crlf
*.log         text      eol=crlf
*.rc          text      eol=crlf
*.manifest    text      eol=crlf

*.md                    eol=crlf

